{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-4">
        <div class="card">

            <div class="card-body">
                <h3>Изменить пост</h3>
                <form action="">
                    <div class="mb-3">
                        <label for="inputTitle">Заголовок</label>
                        <input type="text" class="form-control" id="inputTitle">
                    </div>
                    <div class="mb-3">
                        <label for="inputImage">Изображение</label>
                        <input type="file" class="form-control" id="inputImage">
                    </div>
                    <div class="mb-3">
                        <label for="inputContent">Контент</label>
                        <textarea name="" id="inputContent" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-danger">Изменить</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}