{% extends 'base.html' %}


{% block icon %}
<link rel="icon" type="image/x-icon" href="https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666792659_15-mykaleidoscope-ru-p-krasnie-kedi-naik-oboi-18.jpg">
{% endblock %}


{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <h1>{{ post.title }}</h1>
            <p class="text-muted">{{ post.date }} - @Ruslan</p>
            <hr>
            <p>
                {{ post.description }}
            </p>
        </div>
        
        <div class="col-4 mt-5">
            <div class="row gap-3 mb-3">
                <div class="col-1">
                    <a href="{% url 'post_update' %}" class="btn btn-success">
                        <i class='bx bx-edit'></i>
                    </a>
                </div>
                <div class="col-1">
                    <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">
                        <i class='bx bx-trash'></i>
                    </a>
                </div>
            </div>
            {% if post.image %}
            <img style="object-fit: cover;" src="{{ post.image.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225">
            {% else %}
            <img style="object-fit: cover;" src="https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666792659_15-mykaleidoscope-ru-p-krasnie-kedi-naik-oboi-18.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}